# Copiez ce fichier en secrets.yaml et remplissez vos vraies valeurs
# NE COMMITTEZ JAMAIS secrets.yaml sur GitHub!

wifi_ssid: "VotreSSID"
wifi_password: "VotreMotDePasseWiFi"
ota_password: "votre_mot_de_passe_ota"

# Geothermie specific secrets
geo_api_key: "votre_clé_api_32_caractères_base64"
geo_fallback_password: "mot_de_passe_hotspot_secours"
